:root {
  --scroll-translate: 0px 50px;
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: none;
  background-color: #000;
  color: #fff;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

.cursor {
  height: 1.25rem;
  width: 1.25rem;
  translate: -50% -50%;
  z-index: 100;
  pointer-events: none;
  border-radius: 50%;
  backdrop-filter: invert(1);
  position: fixed;
  top: 0;
  left: 0;
}

main {
  display: flex;
  flex-direction: column;
}

nav {
  z-index: 50;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  width: 30%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
nav ul .description {
  opacity: 0.7;
}
nav ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
}
nav ul li a span {
  opacity: 0;
  transition: all 0.2s ease;
}
nav ul li a:hover span, nav ul li a.active span {
  opacity: 1;
}
nav ul:nth-child(1) li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 0.05em;
  width: 0%;
  transition: all 0.2s ease 0s;
}
nav ul:nth-child(1) li a:hover::after {
  width: 100%;
}
nav ul:nth-child(2) {
  align-items: center;
  text-align: center;
  align-self: flex-end;
  transition: all 0.7s ease;
}
nav ul:nth-child(3) {
  align-items: flex-end;
  text-align: right;
}
nav .scroll-down {
  translate: 0px 50px;
  transition: all 0.7s ease;
}
nav .scroll-down-icon {
  filter: invert(1);
  height: 1.25rem;
  align-self: flex-end;
  position: relative;
  transition: all 0.7s ease;
}

.circles-wrapper {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles-container {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s ease;
}
.circles-container img {
  height: 90vh;
  grid-column: 1;
  grid-row: 1;
  scale: 0.5;
  rotate: -35deg;
  transition: all 4.8s ease;
}
.circles-container .hover-circles {
  height: 50%;
  width: 50%;
  grid-column: 1;
  grid-row: 1;
}

.page0 {
  scroll-snap-align: center;
  height: 100vh;
  width: 100%;
}
.page0 ~ div {
  z-index: 1;
}

.intro {
  scroll-snap-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.intro__content {
  width: 25ch;
  text-align: center;
}

.grid-page {
  scroll-snap-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-page > div {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}
.grid-page > div h2 {
  grid-column: 2;
  font-size: 1.25rem;
  font-weight: 600;
}
.grid-page > div h3 {
  text-decoration: underline;
}
.grid-page > div h3 + p {
  margin-top: 1rem;
}
.grid-page > div p + h3 {
  margin-top: 1rem;
}
.grid-page > div h3, .grid-page > div p {
  grid-column: 3;
  font-size: 1.25rem;
  font-weight: 500;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
