$clr-black: #000;
$clr-white: #fff;
$bg-color: $clr-black;
$font-color: $clr-white;
$fs-small: 1.5rem;
$fw-regular: 500;

:root {
    --scroll-translate: 0px 50px;
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: $bg-color;
    color: $font-color;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: $fs-small;
    font-weight: $fw-regular;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;

        .description {
            opacity: 0.7;
        }

        li a {
            position: relative;
            color: $clr-white;
            text-decoration: none;

            span {
                opacity: 0;
                transition: all .2s ease;
            }

            &:hover span {
                opacity: 1;
            }
        }

        &:nth-child(1) li a {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $font-color;
                height: 0.05em;
                width: 0%;
                transition: all .2s ease 0s;
            }

            &:hover::after {
                width: 100%;
            }
        }

        &:nth-child(2) {
            align-items: center;
            text-align: center;
            align-self: flex-end;
            transition: all .7s ease;
        }

        &:nth-child(3) {
            align-items: flex-end;
            text-align: right;
        }
    }

    .scroll-down {
        translate: 0px 50px;
        transition: all .7s ease;
    }

    .scroll-down-icon {
        filter: invert(1);
        height: 1.25rem;
        align-self: flex-end;
        position: relative;
        transition: all .7s ease;
    }
}

.circles-container {
    position: fixed;
    z-index: -1;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s ease;

    img {
        height: 90vh;
        grid-column: 1;
        grid-row: 1;
        scale: 0.5;
        rotate: -35deg;
        transition: all 4.8s ease;

        @for $var from 1 to 11 {
            &:nth-child(#{$var}) {
                opacity: 1 - calc($var/15);
                transition-delay: calc((#{$var}-1)*0.08s);
            }
        }
    }
}

.page0 {
    scroll-snap-align: center;
    height: 100vh;
    width: 100%;
}

.intro {
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    &__content {
        width: 25ch;
        text-align: center;
    }
}