@use 'mixins' as *;

$bg-clr: #F2EADE;
$darker-clr: #1E1E1E;
$perspective: 300;
$parralaxStrenght: 40;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $bg-clr;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: $darker-clr;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    perspective: calc($perspective*1px);

    > section, .about-me--decoration, .about-me__second-page--decoration {
        transform-style: preserve-3d;

        img {
            transform: translateZ(calc($parralaxStrenght * -1px));
            scale: calc(1 + ($parralaxStrenght * 0.5)/$perspective);
        }
    }
}

nav {
    position: absolute;
    width: 100%;
    background-color: $bg-clr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3.2rem;
    box-shadow: 0 2px 0 0 $darker-clr;
    z-index: 100;

    a {
        color: $darker-clr;
        text-decoration: none;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 3.2rem;
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        font-size: 7rem;
        line-height: 7rem;
        display: flex;
        flex-direction: column;
        translate: 35%;

        span:nth-child(2) {
            translate: -22%;
        }

        span:nth-child(3) {
            translate: -15%;
        }

        @include breakpoint(1200px) {
            font-size: 5rem;
            line-height: 5rem;
        }
    }

    img {
        height: 70vh;
        max-height: 70rem;
        translate: -15%;
        z-index: -1;

        @include breakpoint(1200px) {
            max-height: 50rem;
        }
    }
}

button {
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    font-family: neue-haas-grotesk-display, sans-serif;
    white-space:nowrap;
    width: fit-content;
    background-color: $bg-clr;
    border: #1E1E1E 2px solid;
    box-shadow: #1E1E1E 1px 1px 0 0;
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    z-index: 2;

    @include breakpoint(1200px) {
        font-size: 2.4rem
    }

    &:hover {
        background-color: darken($color: $bg-clr, $amount:10);
    }

    &:active {
        box-shadow: none;
        translate: 1px 1px;
    }
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
    margin-bottom: 15vh;

    &--decoration {
        translate: -5% -20%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        img {
            max-height: 50rem;
            rotate: -35deg;
            grid-column: 1;
            grid-row: 1;
            z-index: -1;

            @include breakpoint(1200px) {
                max-height: 40rem;
            }
        }

        span {
            display: flex;
            justify-content: end;
            align-items: flex-end;
            color: #F2EADE;
            font-size: 8rem;
            grid-column: 1;
            grid-row: 1;
            width: 30%;
            height: 50%;
            rotate: -10deg;
            
            @include breakpoint(1200px) {
                font-size: 6rem;
            }
        }
    }

    &--content {
        display: grid;
        grid-template-columns: 3fr 5rem 1fr;
        width: 50rem;
        height: 50rem;
        translate: -35%;

        @include breakpoint(1200px) {
            width: 40rem;
            height: 40rem;
        }

        &--text {
            background-color: $bg-clr;
            border: $darker-clr 2px solid;
            box-shadow: 1px 1px 0 0 $darker-clr;
            border-radius: 40px;
            grid-column: 1/3;
            grid-row: 1;
            display: grid;
            rotate: 8deg;

            p {
                font-size: 3rem;
                line-height: 3rem;
                grid-column: 1;
                grid-row: 1;
                font-weight: 600;
                padding: 1.5em 1.7em;
                opacity: 0;

                &:nth-child(1) {
                    opacity: 1;
                }

                @include breakpoint(1200px) {
                    font-size: 2.4rem;
                    line-height: 2.4rem;
                }
            }
        }

        &--buttons {
            display: flex;
            flex-direction: column;
            gap: 5px;
            grid-column: 2/4;
            grid-row: 1;
            align-self: flex-end;
            margin-bottom: 2em;

            @include breakpoint(1200px) {
                margin-bottom: 1em;
            }
        }
    }
}

.about-me__second-page {
    display: flex;
    justify-content: center;

    &--decoration {
        display: grid;
        grid-template-rows: min-content;
        translate: -20% 0;
        z-index: -1;

        @include breakpoint(1200px) {
            translate: -20% 5%;
        }

        img {
            max-height: 70rem;
            grid-column: 1;
            grid-row: 1;
            rotate: -25deg;
            z-index: -1;

            @include breakpoint(1200px) {
                max-height: 50rem;
            }
        }

        span {
            color: $bg-clr;
            font-size: 8rem;
            height: 65%;
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: flex-end;
            grid-column: 1;
            grid-row: 1;
            rotate: 15deg;

            @include breakpoint(1200px) {
                font-size: 6rem;
            }
        }
    }
    
    &--content {
        width: min-content;
        height: min-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        background-color: $bg-clr;
        border: $darker-clr 2px solid;
        box-shadow: 1px 1px 0 0 $darker-clr;
        padding: 2rem;
        border-radius: 30px;
        translate: 20% 20%;

        &--buttons {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 2rem;
            gap: 1rem;
        }

        &--text {
            display: grid;

            p {
                grid-column: 1;
                grid-row: 1;
                font-size: 3rem;
                line-height: 3.5rem;
                font-weight: 600;
                padding: 0.7rem;
                opacity: 0;

                &:nth-child(1) {
                    opacity: 1;
                }

                @include breakpoint(1200px) {
                    font-size: 2.4rem;
                    line-height: 2.8rem;
                }
            }
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem;
    width: min-content;
    margin: 0 auto;
    gap: 10rem;
    padding-top: 20rem;

    @include breakpoint(1200px) {
        gap: 5rem;
    }

    h2 {
        font-size: 6rem;
        grid-column: 1;
        grid-row: 1;

        @include breakpoint(1200px) {
            font-size: 4rem;
        }
    }

    > img {
        height: 50rem;
        grid-column: 1;
        grid-row: 1;
        translate: -20rem -5rem;

        @include breakpoint(1200px) {
            height: 40rem;
        }
    }

    &--container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;

        @include breakpoint(1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        &--card {
            width: 100%;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    border-radius: inherit;

                    img {
                        height: 30rem;
                        width: 30rem;
                        object-fit: contain;
                        filter: saturate(0);
                        border-radius: inherit;
                        padding: 5.5rem;

                        &.cover {
                            object-fit: cover;
                            padding: 0;
                        }

                        @include breakpoint(1400px) {
                            height: 25rem;
                            width: 25rem;
                        }
                    }
                }

                &:hover > a img{
                    filter: saturate(1);
                }
            }
    
            h3, h4 {
                white-space: nowrap;
                padding: 0 1rem;
            }

            h3 {
                font-size: 2.4rem;
                line-height: 1em;
                margin-top: 1em;
            }

            h4 {
                font-weight: 500;
            }
        }
    }
}

.contact {
    position: relative;
    max-width: 70rem;
    margin: 50rem auto 25vh auto;

    @include breakpoint(1200px) {
        max-width: 50rem;
        margin: 30rem auto 25vh auto;
    }

    h2 {
        color: $bg-clr;
        font-size: 6rem;
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 4rem;

        @include breakpoint(1200px) {
            font-size: 4rem;
        }
    }

    button {
        position: relative;
        padding: 0;

        a {
            font-size: 6rem;
            padding: 0em 0.5em;
            text-decoration: none;
            color: $darker-clr;

            @include breakpoint(1200px) {
                font-size: 4rem;
            }
        }
    }

    img {
        position: absolute;
        height: 40rem;
        top: 0;
        left: 0;
        translate: -10rem -10rem;

        @include breakpoint(1200px) {
            height: 30rem;
        }
    }

    .mail-button::before {
        content: 'Copied';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $darker-clr;
        background-color: $bg-clr;
        font-size: 3rem;
        height: 100%;
        width: 100%;
        opacity: 0;
        border-radius: inherit;
    }

    .mail-button.anim::before {
        animation: 3s ease 0s 1 normal fade;
    }

    &--infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

@keyframes fade{
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}